.container {
  display: flex;

  flex-direction: column;
  align-items: center;
  margin: 200px 0px 0px 0px;
}
.block1 {
  padding: 20px;
}
.block2 {
  padding: 20px;
}
.block3 {
  padding: 20px;
}
.block4 {
  padding: 20px;
}
button {
  margin-right: 10px;
}
